<div class="card">
    <div class="card-body">
        <h1>App de registro de contactos</h1>
        <p>Aplicacion que te permite registrar a tus contactos por medio de una cuenta gratuita.</p>
    </div>
</div>