
<div class="jumbotron mt-4 borde">
  <h1 class="display-3"> Bright Coders Academy!</h1>
  <p class="lead">Desarrollando e impulsando el talento mexicano</p>
  <hr class="my-4">
  <p>Especialízate BrightCoders Academy como Diseñador UX/UI aprendiendo de mentores expertos y trabajando en proyectos reales.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.facebook.com/BrightCodersAcademy/" role="button">Ver más</a>
  </p>
</div>