.imagen-signup {
    background-image: url("../img/signup2.jpg");
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

.logo {
    width: 50%;
    /* border-radius: 100%; */
}

.btn {
    border-radius: 20px;
}

.card {
    border-radius: 8px;
}

.borde, .alert {
    border-radius: 5px;
}

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    /* position: absolute;
    margin-top: 50px;
    bottom: 0; */
    width: 100%;
    color: black;
}

body {
    padding-bottom: 70px;
 }
